.text-container div{
    font-size: 18px;
    color: aliceblue;
    background-color: rgba(74, 78, 78, 0.9);
    margin: 2% 1%;
    border-radius: 10px;

}
.text-container{

}

.background-section{
    align-items: flex-start;
}