.form-container {
    background-color: rgba(74, 78, 78, 0.9);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 600px;

    position: absolute;
}

.container-heading{
    width: 100%;
    color: aliceblue;
    text-align: center;
    height: 55px;
}