.scrollable-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: #28a745 #f1f1f1;
}

.scrollable-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #28a745;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #218838;
}

@media (max-width: 768px) {
    .scrollable-container::-webkit-scrollbar {
        width: 4px;
    }
}